[submodule "system"]
	path = system
	url = https://github.com/kohana/core.git
[submodule "modules/auth"]
	path = modules/auth
	url = https://github.com/kohana/auth.git
[submodule "modules/database"]
	path = modules/database
	url = https://github.com/kohana/database.git
[submodule "modules/orm"]
	path = modules/orm
	url = https://github.com/kohana/orm.git
[submodule "modules/pagination"]
	path = modules/pagination
	url = https://github.com/kohana/pagination.git
